.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.pagination {
    margin-top: 16px;
}

:global {
    .ant-table-column-sorter.ant-table-column-sorter-full {
        display: none !important;
    }

    li.ant-pagination-item-active {
        border: 0.5px solid var(--color-accent) !important;
    }

    li.ant-pagination-item {
        border: 0.5px solid var(--color-grey) !important;
    }
}
