.buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--padding-container);
}

.group {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 44px;

    button {
        height: 100%;
        min-width: 150px;
    }

    button.sq {
        min-width: 0;
        padding: 0;
        width: 44px;
    }
}

.inputs {
    display: grid;
    grid-template-columns: 0.75fr repeat(4, 1fr);
    gap: 12px;
    padding: 12px;
    border-radius: 12px;
    background: rgb(from var(--color-text) r g b / 5%);
    margin-bottom: var(--padding-container);
}

.input {
    display: flex;
    flex-direction: column;
    gap: 8px;

    label {
        font-weight: 500;
    }
}

.downButtons {
    display: flex;
    align-items: center;
    gap: 8px;
}