.buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--padding-container);
}

.group {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 46px;

    button {
        height: 100% !important;
    }

    button.sq {
        min-width: 0;
        padding: 11px;
        width: 46px;
        border-radius: var(--border-radius-small);
    }

    .btnIcon {
        width: 20px;
        height: 20px;
    }
}

.inputs {
    display: grid;
    grid-template-columns: 0.7fr repeat(4, 1fr);
    gap: 10px;
    padding: var(--padding-container);
    border-radius: var(--border-radius-default);
    background: rgb(from var(--color-grey) r g b / 27%);
    margin-bottom: var(--padding-container);
}

.input {
    display: flex;
    flex-direction: column;
    gap: 8px;

    label {
        font-weight: 500;
    }
}

.downButtons {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 32px;

    button {
        height: 100% !important;
        width: 200px !important;
        font-weight: 400 !important;
    }
}