.modal {
    max-width: 430px;
    background: var(--color-item-bg);
    border-radius: 14px;
    padding: 7px 15px 15px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

    h3 {
        font-size: 20px;
        font-weight: 600;
    }

    button {
        width: 24px;
        height: 24px;
        display: block;
        padding: 4px;
        aspect-ratio: 1/1;
        border: none;
    }
}

.content {
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 1.2;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.counter {
    font-size: 12px;
    color: var(--color-grey-dark);
}

.buttons {
    display: flex;
    align-items: center;
    gap: 8px;

    button {
        width: 100px !important;
        min-width: 0 !important;
        height: 36px !important;
    }
}